
<div class="backcolor">
<div class="text-center" class="text" class="font">
        <br>
        <img src="/Assets/images/janvi.jpg" width='15%' height="250">
        <br>
        <h1>Janvi Sutariya</h1>
        <h5>&quot;Work Untill You Don&apos;t Have To Introduce Yourself&quot;</h5>
</div>
<div class="text">
            <h3>About Me </h3>
            <ul>
                <li>I am currently pursing Software Enginerring Technology(Fast track) program in centennial college.</li>
                <li>I have completed my bechelor in Computer Science from Shree Swami Atmanand Sarswati Institute of Technology.</li>
                <li>I have keen interest in programming and testing.</li>
                <li>I am very quick learner, enthusiastic and hard working.</li>
                <li>For downloading Resume Click Below</li><a class="button" href="/Assets/docs/resume.pdf" role="button">Resume</a>
            </ul>
</div>
</div>
