
<div class="text-center"><img class="img-fluid" src="/Assets/images/home.jpg" alt="Responsive image" />
    <div class="container"></div>
    <div class="centered">
        <h1>Welcome to Janvi Sutariya's Eportfolio </h1>
        <h3>I am currently Computer Science Student.</h3><a class="button" href="/about" role="button">About Me</a>
    </div>
  </div>
