<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5 font">Sign in</h3>
              <form id="loginForm" novalidate method="POST">
              <div class="form-outline mb-4">
                <label class="form-label font" for="typeEmailX-2">User Name</label>
                <input type="email" id="username" name="username" class="form-control form-control-lg" value="" required/>
                
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label font" for="typePasswordX-2">Password</label>
                <input type="password" name="password" id="password" class="form-control form-control-lg" value="" required/>
                
              </div>
  
  
              <button class="btn btn-primary btn-lg btn-block font" id="loginButton" type="submit">Login</button>
            </form>
            </div>
            <p class="text-center text-muted small">
              Don't have an account? 
              <a href="/register">Register Here!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>