<div class="text-center">
    <br>
    <br>
    <h1>Welcome to Project Page</h1>
    <br>
    <br>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src='/Assets/images/epilepsy.jpg' height= '250' width='25%' alt=''>
            <div class="card-body">
                <h5 class="card-title">Epilepsy Seizure Detection System</h5>
                <p class="card-text">Epilepsy Seizure Detection System which is able to detect the epileptic seizure using Electroencephalogram signal. This is group base project.</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src='/Assets/images/smartbin.jpg' height= '250' width='25%' alt=''>
            <div class="card-body">
                <h5 class="card-title">SmartBin Monitoring System</h5>
                <p class="card-text">Smart Bin Monitoring System which detect the level of garbage in Dustbin. And notify the garbage collector by SMS. This is group project.</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src='/Assets/images/onlineshopping.jpg' height= '250' width='25%' alt=''>
            <div class="card-body">
                <h5 class="card-title">Online Shopping System</h5>
                <p class="card-text">I made online shopping website, in which we can search the products, wishlist the products and buy the products.</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>