<div class="text-center">
    <br>
    <br>
    <h1>Welcome to Service Page</h1>
    <br>
    <br>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src='/Assets/images/android.jpg' height= '250' width='25%' alt=''>
            <div class="card-body">
                <h5 class="card-title">Application Developer</h5>
                <p class="card-text">I can make GUI based Android Application, which is user friendly and attractive.</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src='/Assets/images/java.jpg' height= '250' width='25%' alt=''>
            <div class="card-body">
                <h5 class="card-title">Java Developer</h5>
                <p class="card-text">I can make application using java framework, which is user friendly.</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>