    <!-- Header Section -->
    <%- include('components/header.ejs') %>


    <!-- Main Content -->
    <main>
      <%- include('content/' + page + '.ejs') %>
    </main>

    <!-- Footer Section -->
    <%- include('components/footer.ejs') %>